.partnerContent {
  background-color: white;
  .hero {
    margin-top: -150px;
    padding-top: 150px;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(to RIght, #000000b9, #0000003d),url("../img/partner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .data{
      width: 30%;
      height: 100%;
      margin-left: 10rem;
      // padding-top: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .partnerName{
        font-size: 32px;
        letter-spacing: 3.2px;
        line-height: 48px;
        color: white;
        text-transform: uppercase;
        margin-bottom: 35px;
      }
      .socialShare {
        svg {
          margin-right: 1.2rem;
        }
        margin-bottom: 35px;
      }
      .desc {
          font-size: 16px;
          letter-spacing: 0;
          line-height: 20px;
          color: white;
        }
        @media only screen and (max-width: 769px) {
          & {
            width: 90%;
            margin: 0 auto;
            align-items: center;
            text-align: center;

          }
        }
    }
  }
  .content {
    width: 50%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .partnerLogo {
      width: 20%;
      img {
        width: 100%;
      }
    }
    .description {
      font-size: 20px;
      line-height: 32px;
    }
    @media only screen and (max-width: 769px) {
      & {
        width: 90%;
        margin: 2rem auto;
        align-items: center;
        text-align: left;
      .partnerLogo {
        width: 30%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .brandGallery {
    margin: 5rem 0;
    .in-v-header {
      text-align: center;
    }
  }
  .videoBanner-sec {
    margin: 8rem 0;
    @media only screen and (max-width: 769px) {
      margin-bottom: 1rem;
    }
  }
}
